@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600&display=swap");

:root {
    --primary-color: #ffc000;
    --secondary-color: #101828;
    --white-color: #fff;
    --black-color: #475467;
    --mid-block-color: #101828;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: #f5f5f5;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
